@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url(assets/styles/navbar.css);
@import url(assets/styles/shimpment-tracking.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ebebeb;
}
